{% extends "layout.html" %}
{% block content %}
<section>
    <h2>Add a Post to this Sub</h2>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <div>
        {{ form.title.label }}
        {{ form.title() }}
        </div>
        <div>
        {{ form.text.label }}
        {{ form.text() }}
        </div>
        <div>
        {{ form.user.label("Post By:") }}
        {{ form.user() }}
        </div>

        {{ form.submit() }}
    </form>
</section>
{% endblock %}